<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  <mappers>
    <mapper resource="mybatis/mapper_board.xml"/>
    <mapper resource="mybatis/mapper_entity.xml"/>
    <mapper resource="mybatis/mapper_match.xml"/>
    <mapper resource="mybatis/mapper_stadium.xml"/>
    <mapper resource="mybatis/mapper_team.xml"/>
    <mapper resource="mybatis/mapper_user.xml"/>
  </mappers>
</configuration>
